@charset "UTF-8";


.nav-item a:hover{ }






/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) 
.content {
  padding-top: 102px;
} */

*,
*::before,
*::after {
  box-sizing: border-box; margin:0;
}
S
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}



a {
  color: #467fcf;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}











.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}



 .col-lg-3, .col-lg-4,  .col-lg-9 {
  
}
.col-lg-5
{position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}






  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }


  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  






.dropdown
 {
  position: relative;
  
}




.dropdown-menu {
	
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.9375rem;
  color: #495057;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  
}



.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: red;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #467fcf;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #868e96;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #868e96;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}







.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none; 
}

.nav-link.disabled {
  color: #868e96;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}


.nav-tabs .nav-link.disabled {
  color: #868e96;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs 
.nav-tabs .nav-item.show .nav-link {
  color: #CC0033;   /* change colour of services when hover over dropdown item */
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 transparent;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


















.border-0 {
  border: 0 !important;
}





.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}







.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}







@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  
}



.activeh {
  background-color:#6b8eb7; opacity:0.8;
}
.activeh2 {
  background-image:linear-gradient(-170deg, blue, white); opacity:0.8;
}


.header {
  padding-top: .75rem;
  padding-bottom: .75rem;
 background-image:  /*linear-gradient(to right, rgba(255,0,0,0), rgba(37, 116, 169, 1))*/ linear-gradient(-170deg, blue, white);/*linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 139, 0.8)) 
  border-bottom: 1px solid rgba(0, 40, 100, 0.12) */ 
  /* background:#6b8eb7; */
}

body.fixed-header .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

    .iframe-container { 
      position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
  .iframe-container iframe {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
  }
@media print {
  .header {
    display: none;
  }
}

.header .dropdown-menu {
  margin-top: .75rem;
}


.header-brand {
  color: inherit;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  font-weight: 600;
  padding: 0;
  transition: .3s opacity;
  line-height: 2rem;
}

.header-brand:hover {
  opacity: .8;
  color: inherit;
  text-decoration: none;
  
}

.header-brand-img {
  height:120px;
  line-height: 2rem;
  vertical-align: bottom;
  margin-right: .5rem;
  width: 120px;
  
}



.nav-link,
.nav-item {
  padding: 0 .75rem;
  min-width: 2rem;
  transition: .3s color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link .badge,
.nav-item .badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: .2rem .25rem;
  min-width: 1rem;
}

.nav-tabs {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9aa0ac;
  margin: 0 -.75rem;
}

.nav-tabs .nav-link {
  border: 0;
  color: inherit;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: .3s border-color;
  font-weight: 400;
  padding: 1rem 0;
}

.nav-tabs .nav-link:hover:not(.disabled) {
  border-color: #6e7687;
  color: #6e7687;
}

.nav-tabs .nav-link.active {
  border-color: yellow;
  color: yellow;  /* change name colour of page which is active. eg: home */
  background: transparent;
}

.nav-tabs .nav-link.disabled {
  opacity: .4;
  cursor: default;
  pointer-events: none;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
  position: relative;
}

.nav-tabs .nav-item i {
  margin-right: .25rem;
  line-height: 1;
  font-size: 0.875rem;
  width: 0.875rem;
  vertical-align: baseline;
  display: inline-block;
}

.nav-tabs .nav-item:hover .nav-submenu {
  display: block;
  
}

.nav-tabs .nav-submenu {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-top: none;
  z-index: 10;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  min-width: 10rem;
  border-radius: 0 0 3px 3px;
}

.nav-tabs .nav-submenu .nav-item {
  display: block;
  padding: .5rem 1rem;
  color: #9aa0ac;
  margin: 0 !important;
  cursor: pointer;
  transition: .3s background;
}

.nav-tabs .nav-submenu .nav-item.active {
  color: #467fcf;
}

.nav-tabs .nav-submenu .nav-item:hover {
  color: #6e7687;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.024);
}

border-radius: 0;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #2d4373;
}

.btn-facebook:focus, .btn-facebook.focus {
  box-shadow: 0 0 0 2px rgba(59, 89, 152, 0.5);
}

.btn-facebook.disabled, .btn-facebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
.show > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #2d4373;
  border-color: #293e6a;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(59, 89, 152, 0.5);
}





.btn-youtube {
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}

.btn-youtube:hover {
  color: #fff;
  background-color: #d90000;
  border-color: #cc0000;
}

.btn-youtube:focus, .btn-youtube.focus {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
}

.btn-youtube.disabled, .btn-youtube:disabled {
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}

.btn-youtube:not(:disabled):not(.disabled):active, .btn-youtube:not(:disabled):not(.disabled).active,
.show > .btn-youtube.dropdown-toggle {
  color: #fff;
  background-color: #cc0000;
  border-color: #bf0000;
}

.btn-youtube:not(:disabled):not(.disabled):active:focus, .btn-youtube:not(:disabled):not(.disabled).active:focus,
.show > .btn-youtube.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
}





.btn-instagram {
  color: #fff;
  background-color: #e4405f;
  border-color: #e4405f;
}

.btn-instagram:hover {
  color: #fff;
  background-color: #de1f44;
  border-color: #d31e40;
}

.btn-instagram:focus, .btn-instagram.focus {
  box-shadow: 0 0 0 2px rgba(228, 64, 95, 0.5);
}

.btn-instagram.disabled, .btn-instagram:disabled {
  color: #fff;
  background-color: #e4405f;
  border-color: #e4405f;
}

.btn-instagram:not(:disabled):not(.disabled):active, .btn-instagram:not(:disabled):not(.disabled).active,
.show > .btn-instagram.dropdown-toggle {
  color: #fff;
  background-color: #d31e40;
  border-color: #c81c3d;
}

.btn-instagram:not(:disabled):not(.disabled):active:focus, .btn-instagram:not(:disabled):not(.disabled).active:focus,
.show > .btn-instagram.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(228, 64, 95, 0.5);
}

.btn-pinterest {
  color: #fff;
  background-color: #bd081c;
  border-color: #bd081c;
}

.btn-pinterest:hover {
  color: #fff;
  background-color: #980617;
  border-color: #8c0615;
}

.btn-pinterest:focus, .btn-pinterest.focus {
  box-shadow: 0 0 0 2px rgba(189, 8, 28, 0.5);
}

.btn-pinterest.disabled, .btn-pinterest:disabled {
  color: #fff;
  background-color: #bd081c;
  border-color: #bd081c;
}

.btn-pinterest:not(:disabled):not(.disabled):active, .btn-pinterest:not(:disabled):not(.disabled).active,
.show > .btn-pinterest.dropdown-toggle {
  color: #fff;
  background-color: #8c0615;
  border-color: #800513;
}

.btn-pinterest:not(:disabled):not(.disabled):active:focus, .btn-pinterest:not(:disabled):not(.disabled).active:focus,
.show > .btn-pinterest.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(189, 8, 28, 0.5);
}

.btn-vk {
  color: #fff;
  background-color: #6383a8;
  border-color: #6383a8;
}








.dropdown {
  display: inline-block;
}








 /* social icons */
.avatar {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  display: inline-block;
  /*background:#CCC no-repeat center/cover;  social icon color */
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 600;
  vertical-align: bottom;
  font-size: 20px; /* social icons size */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}





.avatar-list {
  margin: 0 0 -.5rem;
  padding: 0;
  font-size: 0;
  padding-top:7px;
}





@font-face {
  font-family: "feather";
  src: url("../fonts/feather/feather-webfont.eot?t=1501841394106");
  /* IE9*/
  src: url("../fonts/feather/feather-webfont.eot?t=1501841394106#iefix") format("embedded-opentype"), url("../fonts/feather/feather-webfont.woff?t=1501841394106") format("woff"), url("../fonts/feather/feather-webfont.ttf?t=1501841394106") format("truetype"), url("../fonts/feather/feather-webfont.svg?t=1501841394106#feather") format("svg");
  /* iOS 4.1- */
}

.fe {
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



.fe-book:before {
  content: "\e921";
}

.fe-book-open:before {
  content: "\e922";
}




.fe-calendar:before {
  content: "\e926";
}







.fe-file:before {
  content: "\e960";
}



.fe-filter:before {
  content: "\e965";
}

.fe-flag:before {
  content: "\e966";
}

.fe-folder:before {
  content: "\e967";
}



.fe-home:before {
  content: "\e977";
}

.fe-image:before {
  content: "\e978";
}



.fe-info:before {
  content: "\e97a";
}

.fe-instagram:before {
  content: "\e97b";
}



.fe-list:before {
  content: "\e983";
}

.fe-loader:before {
  content: "\e984";
}



.fe-toggle-left:before {
  content: "\e9df";
}

.fe-toggle-right:before {
  content: "\e9e0";
}

.logo
{}

.fe-check-square:before {
  content: "\e92c";
}

.fe-box:before {
  content: "\e924";
}